<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">

    <title>TimeStudyApp</title>

    <script type="text/javascript" language="javascript">


    function onButtonClick() {
    let now = new Date();
    let Hour = now.getHours();
    let Min = now.getMinutes();
    let Sec = now.getSeconds();
    let now_time = Hour + ":" + Min + ":" + Sec;

      document.forms.id_form1.id_textBox1.value = now_time;
    }


    function onButtonClickAfter() {
    let now = new Date();
    let Hour = now.getHours();
    let Min = now.getMinutes();
    let Sec = now.getSeconds();
    let now_time = Hour + ":" + Min + ":" + Sec;

      document.forms.id_form2.id_textBox2.value = now_time;
    }

    </script>



  </head>
  <body>
   <%= form_with url: new_work_path, local: true do |f| %>
      <div class="row mt-3">
        <div class="border-bottom pb-3">
          <div class="d-flex justify-content-around">
            <div class="col-0.5">
                <label>日付：</label>
            </div>
            <div class="col-3">
              <%= f.date_field :created_at,class: 'form-control' %>
            </div>

        
            <div class="col-0.5">
              <label>工程名：</label>
            </div>
            <div class="col-4">
              <%= f.text_field :created_at, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
   <% end %> 

   

    <div class="d-flex justify-content-around my-3 mx-3">

        <button type="button" class="btn btn-outline-secondary mr-3">追加
          <i class="bi bi-plus-square mr-1"></i>
        </button>
        <div class= col-2.5>
          <input class="form-control form-control-lg" type="text" placeholder="製品名">
        </div>
        <div class= col-2.5>
          <input class="form-control form-control-lg" type="text" placeholder="製造番号">
        </div>
        <div class= col-0.5>
          <form name="form1" id="id_form1" action="">
            <input class="form-control form-control-lg" name="textBox1" id="id_textBox1" type="text" placeholder="開始時間" value="" />
            <input type="button" value="開始時刻" onclick="onButtonClick();" />
          </form>
        </div>

        <div class= col-0.5>
          <form name="form2" id="id_form2" action="">
            <input class="form-control form-control-lg" name="textBox2" id="id_textBox2" type="text" placeholder="終了時間" value="" />
            <input type="button" value="終了時刻" onclick="onButtonClickAfter();" />
          </form>
        </div>
 
        
          <p class="text-end">不具合：</p>
          <%# <%= f.check_box :problem ,{}, "true", "false" %>
          <p class="text-end">忘れ：</p>
          <%# <%= f.check_box :forgetting ,{}, "true", "false" %>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
